

.headerrr {
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #38323d;
    transition: padding 0.3s ease-in-out;
    width: 100% !important;
   z-index: 1000;
   
  }
  
  .headerrr.scroll {
 

    padding-bottom: 0;
   
  }

  .logoheader {
    height: 100%;
  }
  
  
  
  
  
  
  
.custom-search .ant-input,
.ant-picker-input
 {
    height: 40px !important;
    margin-left: 10px;
    border-radius: 0px;
    border: 0;
    background: transparent !important;
    /* background-color: #38323d; */
    
   
  }
  .custom-search input::placeholder {
    color: var(--placeholder-color); /* Use the variable set in the inline style */
  }
  .item-button.ant-btn{
    color:rgb(243 230 230 / 88%);
  }
  .search-button.anticon  {
    font-size: 22px;
    color: rgba(44, 44, 44, 0.795);
}