

.headerrr {
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #38323d;
    transition: padding 0.3s ease-in-out;
    width: 100% !important;
   z-index: 1000;
   height: 46px;
   padding-left: 25px;
   padding-right: 25px;
  }
  
  .headerrr.scroll {
 

    padding-bottom: 0;
   
  }

  .logoheader {
    height: 100%;
    padding: 5px;
  }

  .dropdown-icon.open {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }

  .lightbulb {
    height: 100px;
    width: 100px;
  }

  .to-do-empty {
    height: 150px;
    width: 150px;
  }

  .notification-empty {
    height: 150px;
    width: 150px;
  }
  
  
  
  
  
  
  
.custom-search .ant-input,
.ant-picker-input
 {
    height: 46px !important;
    margin-left: 10px;
    border-radius: 0px;
    border: 0;
    background: #959fad !important;
    /* background-color: #38323d; */
    
   
  }
  .custom-search input::placeholder {
    color: var(--placeholder-color); /* Use the variable set in the inline style */
  }
  .item-button.ant-btn{
    color:rgb(243 230 230 / 88%);
  }
  .search-button.anticon  {
    font-size: 22px;
    color: rgba(44, 44, 44, 0.795);
}