/* shipment.css */
.ant-input,
.ant-picker-input
 {
  height: 24px;
 width: 100%;
 border-radius: 0px;
}
.ant-layout-content {
  min-height: 150vh !important;
  position: relative !important;
}
.ant-layout .ant-layout-sider-trigger {
    background-color: #38323d;
    position: absolute;
  }
  .ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title{
    color: rgb(255, 255, 255);
  }
  .ant-layout-header {
    line-height: normal;
   
  }
  
  .ant-collapse-header-text {
  color: rgb(0, 0, 0) !important;
  font-size: 22px;
  
  }
  .ant-collapse-content-box{
    background: #f4f4f4;
    border: 1px solid #6f6f6f;
    border-top: 0;
  }
  div.ant-select-selector{
    height: 24px !important; 
    color: rgb(0, 0, 0) !important;
   text-align: left;
   line-height: 20px;
   border-radius: 0px !important;
  }
  .ant-form{
    line-height: 0px !important;
  }
  .ant-collapse-header .ant-collapse-arrow {
margin-top: 13px;
float: right;

position: relative;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-item{
    line-height: 20px;
  }
  .mainrow{
    width: 100% !important;
  }
  .ant-picker {
    border-radius: 0px !important;
  }
  .ant-form-item .ant-form-item-label >label {
  font-size: 11px !important;
  }

.white-text {
  color: white !important;
}

/* .ant-tabs-nav-wrap {
  display: inline-flex;
  border: none;
}
.ant-tabs-nav {
  width: auto;
  margin: 0;
} */

.ant-tabs{
  width: 90vw;
  margin-left: -80px;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-form-item .ant-form-item-label >label::after {
    content: " ";
    position: relative;
    margin-block: 0;
    margin-inline-start: 2px;
    margin-inline-end: 8px;
}
.required-label::before {
  content: '*';
  color: red; /* Change this to the desired color */

}
