/* shipment.css */
.ant-input,
.ant-picker-input
 {
  height: 24px;
 width: 100%;
 border-radius: 0px;
}
.ant-layout-content {
  /* min-height: 150vh !important; */
  position: relative !important;
}
.ant-layout .ant-layout-sider-trigger {
    background-color: #38323d;
    position: absolute;
  }
  .ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title{
    color: rgb(255, 255, 255);
  }
  .ant-layout-header {
    line-height: normal;
   
  }

  .ant-tabs-tab-disabled {
    margin-left: 0 !important;
  }
  
  .ant-collapse-header-text {
  color: rgb(0, 0, 0) !important;
  font-size: 22px;
  
  }
  .ant-collapse-content-box{
    background: #f4f4f4;
    border: 1px solid #6f6f6f;
    padding: 16px 3px !important;
    border-top: 0;
  }
  div.ant-select-selector{
    height: 24px !important; 
    color: rgb(0, 0, 0) !important;
   text-align: left;
   line-height: 20px;
   border-radius: 0px !important;
  }
  .ant-form{
    line-height: 0px !important;
  }

  :where(.css-dev-only-do-not-override-byeoj0).ant-tabs .ant-tabs-tab {
    padding: 7px 10px;
  }

  :where(.css-dev-only-do-not-override-byeoj0).ant-collapse>.ant-collapse-item >.ant-collapse-header {
    padding: 0;
  }

  .ant-collapse-header .ant-collapse-arrow {
margin-top: 13px;
float: right;

position: relative;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-item{
    line-height: 20px;
  }
  .mainrow{
    width: 100% !important;
  }
  .ant-picker {
    border-radius: 0px !important;
  }
  .ant-form-item .ant-form-item-label >label {
  font-size: 11px !important;
  font-weight: 600;
  color: #444;
  }

  .door-move {
    width: 170px;
    }
    
    .clearance {
      width: 170px;
      margin-left: -50px;
    }
  
    .c-hold {
      width: 110px;
      margin-left: -55px;
    }

.white-text {
  color: white !important;
}

.input-label{
  display: inline-block;
  line-height: 1;
}

/* .ant-tabs-nav-wrap {
  display: inline-flex;
  border: none;
}
.ant-tabs-nav {
  width: auto;
  margin: 0;
} */

.ant-tabs{
  width: 90vw;
  margin-left: -80px;
  overflow-wrap: normal;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-form-item .ant-form-item-label >label::after {
    content: " ";
    position: relative;
    margin-block: 0;
    margin-inline-start: 2px;
    margin-inline-end: 8px;
}
.required-label::before {
  content: '*';
  color: red; /* Change this to the desired color */

}
.hblbutton{
  width: 250px;
}
.ant-picker .ant-picker-input >input {
font-size: 11px;
}
/* @media screen and (min-width: 1100px) and (max-width: 1600px) {
  .ant-tabs{
    width: 80vw;
    margin-left: 0px;
  }
} */
/* @media screen and (min-width: 1590px) and (max-width: 1900px) {
  .ant-tabs{
    width: 117vw;
    margin-left: -80px;

  }
} */
@media screen and (min-width: 1250px) and (max-width: 1400px) {
  .ant-tabs{
    width: 90vw;
    margin-left: -70px;
  }
  .hblbutton{
    width: 200px;
  }
  .custom-label  .ant-form-item-label {
    content: '\a';
    white-space: pre;
  }
}


@media screen and (min-width: 1250px) and (max-width: 1500px) {
  .ant-tabs{
    width: 90vw;
    margin-left: -70px;
  }
  .hblbutton{
    width: 200px;
  }
  .custom-label  .ant-form-item-label {
    content: '\a';
    white-space: pre;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1250px) {
  body{
    overflow-x: hidden;
  }
  .ant-tabs{
    width: 150vw;
    margin-left: -70px;
  }
  .hblbutton{
    width: 200px;
  }
  .custom-label  .ant-form-item-label {
    content: '\a';
    white-space: pre;
  }
}
@media screen and (min-width: 1150px) and (max-width: 1200px) {
  .ant-tabs{
    
    margin-left: -100px;
  }
}