.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.ant-layout .ant-layout-sider-trigger {
  background-color: #38323d;
}




.sidebar-col {
  position: fixed;
  left: 0;
  top: 43;
  bottom: 0;
  z-index: 1000; /* Adjust the z-index as needed */
  /* background-color: #38323d; */
  color: white;
  overflow-y: auto;


  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


.sidebar-col::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/* 
.content-col {
  margin-left: 240px; 
} */

/* .content-wrapper {
  padding: 20px;
  overflow-y: auto;
} */