/* Login.css */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
 
  }
  
  .sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use viewport height */
    flex-direction: column; /* Stack elements vertically */
  }
  
  .signinname {
    text-align: center;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    color: #4db3a5;
    font-weight: 400;
  }
  
  .login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .logincontainer {
    background-color: #eceef1;
    min-width: 370px !important;
    /* width: 100%;  */
    padding: 30px;
   
  }
  .logincontainer ,ant-input{
    min-width: 320px;
  }
.company{

    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
}
.signinbutton{
    background-color: #45B6AF;
    font-weight: 600;
    border-color: #3ea49d;
    border-radius: 0 !important;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333333;
}

.signup-content {
  max-width: 400px;
  width: 100%;
  padding: 20px;

  background-color: #eceef1;
 
  margin-top: 20px; /* Add a margin to separate from the title */
}

.company-title {
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

.signup-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}